name: ci

on:
  push:
  workflow_dispatch:

jobs:
  stack:
    name: stack
    runs-on: [self-hosted, Linux, desktop]
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - uses: actions/cache@v5
      name: Cache ~/.stack
      with:
        path: ~/.stack
        key: ${{ runner.os }}-stack

    - name: Build
      run: |
        nix develop -c stack build --test --bench --no-run-tests --no-run-benchmarks

    - name: Test
      run: |
        nix develop -c stack test --test-arguments --print

    - name: Upload test logs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-runs
        path: test_runs/

  no-gmp:
    runs-on: [self-hosted, Linux, desktop]
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6

    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:release-25.11
        # extra_nix_config: |
        #   trusted-public-keys = iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
        #   substituters = https://iohk.cachix.org https://cache.nixos.org/
    # - uses: DeterminateSystems/magic-nix-cache-action@main

    - name: No GMP
      run: |
        nix run .#verify-no-gmp

  nix:
    name: Nix
    runs-on: [self-hosted, Linux, desktop]
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:release-25.11
        # extra_nix_config: |
        #   trusted-public-keys = iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
        #   substituters = https://iohk.cachix.org https://cache.nixos.org/
    # - uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Build
      run: |
        nix build
